<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register_Employee_servlet</servlet-name>
        <servlet-class>com.servlets.Register_Employee_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Employee_servlet</servlet-name>
        <servlet-class>com.servlets.Login_Employee_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Employee_servlet</servlet-name>
        <servlet-class>com.servlets.Logout_Employee_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_Customer_servlet</servlet-name>
        <servlet-class>com.servlets.New_Customer_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Customer_servlet</servlet-name>
        <servlet-class>com.servlets.Search_Customer_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_Account_servlet</servlet-name>
        <servlet-class>com.servlets.New_Account_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Account_servlet</servlet-name>
        <servlet-class>com.servlets.Search_Account_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction_account_search_servlet</servlet-name>
        <servlet-class>com.servlets.Transaction_account_search_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction_servlet</servlet-name>
        <servlet-class>com.servlets.Transaction_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_Loan_servlet</servlet-name>
        <servlet-class>com.servlets.New_Loan_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_Department_servlet</servlet-name>
        <servlet-class>com.servlets.New_Department_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_Branch_servlet</servlet-name>
        <servlet-class>com.servlets.New_Branch_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_Employee_servlet</servlet-name>
        <url-pattern>/Register_Employee_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Employee_servlet</servlet-name>
        <url-pattern>/Login_Employee_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Employee_servlet</servlet-name>
        <url-pattern>/Logout_Employee_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Customer_servlet</servlet-name>
        <url-pattern>/New_Customer_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Customer_servlet</servlet-name>
        <url-pattern>/Search_Customer_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Account_servlet</servlet-name>
        <url-pattern>/New_Account_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Account_servlet</servlet-name>
        <url-pattern>/Search_Account_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction_account_search_servlet</servlet-name>
        <url-pattern>/Transaction_account_search_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction_servlet</servlet-name>
        <url-pattern>/Transaction_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Loan_servlet</servlet-name>
        <url-pattern>/New_Loan_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Department_servlet</servlet-name>
        <url-pattern>/New_Department_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Branch_servlet</servlet-name>
        <url-pattern>/New_Branch_servlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
